body
{
font-size: 300%;
}

p form{
font-size: 300%;
}

a:link    {color:black;}
a:visited {color:black;}
a:hover   {color:black;}
a:active  {color:black;}

.gekauft, a.gekauft
{
color: gray;

}

.textfield_effect    {
   
    font-size: 300%;
    height: 50px;
    }